<h1>Welcome To Our Wannabe Remixer</h1>
<!--got from the book -->
It's <%= Time.now %>.
You have added <%= pluralize(@total_songs, "song") %>.
We don't promote stealing music, <br />
so feel bad about using: <a href="http://www.youtube-mp3.org/">YoutubeToMP3!</a>
Unfortunately, you have to add all of your <br />
original audio files to remixer\app\assets\audios ahead of time.
You can retrieve new ones from there as well.
